<div class="conteiner">
  <div class="row">
    <div class="col"><h3><%= link_to 'Create new article', new_article_path %></h3></div>
  </div>
</div>
<br />
<div class="conteiner">
  <div class="row">
      <% @articles.each do |article| %>
            <div class="card">
              <div class="card-header">
                <b><%= article.title %></b>
              </div>
              <div class="card-body">
                <p class="card-text-prev"><%= article.text %></p>
                <%= link_to 'Show', article_path(article) %> |
                <%= link_to 'Edit', edit_article_path(article) %> |
                <%= link_to 'Delete', article, method: :delete, data: {confirm: 'Do You really want to delete this article?'} %>
                <footer class="footer">Created at: <%= article.created_at %> | Updated at: <%= article.updated_at %></footer>
              </div>
            </div>
      <% end %>
    </div>
  </div>
